---
---
<div class="mb-6">
  <div>Email: <a href="mailto:your@email.com" class="underline">your@email.com</a></div>
  <div>GitHub: <a href="https://github.com/yourgithub" class="underline">yourgithub</a></div>
</div>
