---
const { progress = 0 }: { progress?: number } = Astro.props;
const percentage = Math.round(progress * 100);
const isComplete = percentage === 100;
---

<div class="flex justify-between items-center mt-1 text-xs">
  {isComplete && <span class="text-green-500 mono">Complete</span>}
  {!isComplete && <span class="text-yellow-500 mono">In Progress - {percentage}%</span>}
</div>
