---
import Card from '../site/Card.astro';
import ProgressBar from '../site/ProgressBar.astro';
---
<div>
  <Card title="Neural Simulation" description="Simulating basic neural dynamics using spiking models." tags={["neuro", "simulation"]}>
    <ProgressBar progress={0.6} />
  </Card>
</div>
