---
import Card from '../site/Card.astro';
import ProgressBar from '../site/ProgressBar.astro';
---
<div>
  <Card title="BSc Neuroscience" description="Example University, 2018-2022" tags={["ECTS: 180"]}>
    <ProgressBar progress={1} />
  </Card>
</div>
