---
---
<div>
  <h2 class="text-xl font-bold mb-2">Academic History</h2>
  <ul class="mb-4">
    <li>BSc Neuroscience, Example University (2018-2022)</li>
  </ul>
  <h2 class="text-xl font-bold mb-2">Professional History</h2>
  <ul>
    <li>Research Assistant, Example Lab (2022-2024)</li>
  </ul>
</div>
